@charset "utf-8";
/* CSS Document */
.gnav_ovelay ul li .sub_contact{
	display:block;
}
main {
	text-align: center;
}
main > p > img{
	object-position: 0% 49%;
}
.content .imag_alia{
	width:80%;
	margin-left:10%;
	margin-right: 10%;
	height:300px;
/*
	min-height:300px;
	background:rgb(200,200,0);
*/
}
.content .imag_alia img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.content .text_alia{
	text-indent:1em;
	width:80%;
	margin-left:10%;
	margin-right: 10%;
}

 main .pilotIntroduction .contents{
	min-height: 500px;
}
.pilot01 img{
	object-position: top;
}

/* パイロット紹介 */


/* レスポンシブ対応 ******************************************** */
@media screen and (max-width: 767px){
.content .imag_alia{
	width:90%;
	margin-left:5%;
	margin-right:5%;
	height:300px;
/*
	min-height:300px;
	background:rgb(200,200,0);
*/
}
}
